@media only screen and (max-width: 1024px){
    .projects, .work, .row {
        flex-direction: column;
        align-items: center;
    }

    .link-seperator {
        margin-top: 10px;
    }

    .section-title {
        text-align: center;
        padding: 20px;
    }

    .item {
        width: 70%;
        margin: 10px 0 10px 0;
    }

    .hidden {
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .hero-text-style {
        font-size: 18px;
        line-height: 15px;
    }
    
    .hero-text-style-sub {
        font-size: 10px;
        line-height: 15px;
    }
    
    .item {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 450px){
    .hero-text-style {
        font-size: 12px;
    }

        
    .hero-text-style-sub {
        font-size: 8px;
    }

    .footer-container {
        padding: 0 10px 0 10px;
    }
}


@media only screen and (max-width: 300px){
    .hero-text-style {
        font-size: 10px;
    }

    .link-seperator {
        flex-direction: column;
    }

    .divider {
        display: none;
    }

    .link {
        margin: 10px 0 10px 0;
    }

    .btn {
        width: 100%;
    }
}

@media only screen and (max-width: 200px){
    .hero-text-style {
        font-size: 8px;
    }
}


@media only screen and (max-width: 180px){
    .hero-text-style {
        font-size: 6px;
    }
}