@media only screen and (max-width: 1024px){
    .projects, .work, .row {
        flex-direction: column;
        align-items: center;
    }

    .link-seperator {
        margin-top: 10px;
    }

    .section-title {
        text-align: center;
        padding: 20px;
    }

    .item {
        width: 70%;
        margin: 10px 0 10px 0;
    }

    .hidden {
        display: none;
    }
}

@media only screen and (max-width: 450px){
    .item {
        width: 80%;
        margin-bottom: 20px;
    }
}